footer {
    padding-bottom: 13rem;
    padding-top: 8rem;
   
}
.footer{
     background-image: url(../../images-2/footer-bg.png);
     background-repeat: no-repeat;
     background-size: contain;
     width: 100%;
     height: fit-content;
     padding: 4rem 3rem;
     margin-top: 5rem;
}
.footer-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 121%;
text-transform: uppercase;
color: #fff2af;
}
.footer-div{
    width: 34rem;
    height: 6.5rem;
    background: #fff;
    border-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.8rem;
line-height: 121%;
text-transform: uppercase;
text-align: center;
color: #161616;
position: relative;
left: 50%;
transform: translate(-50%);
}

.footer-btn{
    width: 37rem;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-image: url(../../images-2/btn-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);    
    font-weight: 500;
}
footer p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 121%;
text-transform: uppercase;
color: #fff;
}
.social{
    margin-top: 3rem;
}
.social-wrap{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.inst{
    height: 7.8rem;
    width: 11.8rem;
    border-radius: 1rem;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}